<div class="container">
    <div class="row">
        <div class="col-12  text-center">
            <img style="margin-top: 10%; width: 50%;" src="https://th.bing.com/th/id/R.db8ed17d964e198129fa8203c06d7bd6?rik=nH53ot5y%2bBvNCQ&riu=http%3a%2f%2fwww.sitesbay.com%2ffiles%2f404.gif&ehk=rAjITNLVYuiunk3y9AKDyM9HmSQiIKcyleBDNgJzsyw%3d&risl=&pid=ImgRaw&r=0" alt="">
        </div>
        <div class="col text-center">
            <button  class="btn btn-primary w-50" routerLink="">Back to home</button>
        </div>
    </div>
</div>